repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/standard/.pre-commit-hooks
    rev: v1.0.0
    hooks:
      - id: eslint
        files: \.(js|ts|tsx)$
        additional_dependencies: [eslint]
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3
