name: Clean Artifacts

on:
  schedule:
    - cron: '0 0 * * *' # Daily

jobs:
  clean:
    runs-on: ubuntu-latest
    steps:
      - uses: kolpav/purge-artifacts-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          expire-in: 7days
