name: DB Migrate Prod

on: workflow_dispatch

jobs:
  migrate:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v6
      - name: Run Migrations
        run: npm run typeorm:migration:run
