name: "Release Notes"
on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Generate Release Notes
        uses: softprops/action-gh-release@78237c54eb15310cb292a15480c4be010be47aeb # v2.2.1
        with:
          generate_release_notes: true
          draft: false
          prerelease: false
