name: Security NPM Audit

on:
  schedule:
    - cron: '0 8 * * *' # Daily

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: npm audit --audit-level=high
