name: Security Image Scan GCP

on:
  workflow_dispatch:
    inputs:
      image_url:
        required: true

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Scan Image
        run: gcloud artifacts docker images scan ${{ inputs.image_url }}
