name: Spell Check

on: [pull_request]

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: '**/*.{ts,tsx,js,md}'
